body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    max-width: 90%;
    margin: auto;
}

.navbar, .foot-credentials{
    background-color: #111;
    color: #eeeeee;
    padding: 10px;
}

.header-all, 
.foot-credentials .container{
    display: flex;
    justify-content: space-between;
}

.chat-box{
    display: flex;
    gap: 15px;
}

.chat-section{
    flex-grow: 1;
    display: flex;
}

.login {
    margin-bottom: 40px;
    border-bottom: 1px solid tomato;
    padding-bottom: 10px;
}

.profile-pic{
    width: 50px;
    height: 50px;
}

.feed-inner{
    display: flex;
    margin-bottom: 20px;
}

p{
    margin: 0 15px
}
