body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    max-width: 90%;
    margin: auto;
}

.navbar, .foot-credentials{
    background-color: #111;
    color: #eeeeee;
    padding: 10px;
}

.header-all, 
.foot-credentials .container{
    display: flex;
    justify-content: space-between;
}

.chat-section{
    flex-grow: 1;
    display: flex;
}