/* styles.css*/

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    max-width: 90%;
    margin: auto;
}

.navbar, .foot-credentials{
    background-color: #111;
    color: #eeeeee;
    padding: 10px;
}

.header-all{
    display: flex;
    justify-content: space-between;
}

.login-section{
    flex-grow: 1;
    display: flex;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 5px;
}

.label-login{
    font-size: .75rem;
}

a{
    margin-top: 10px;
}

.foot-credentials .container{
    display: flex;
    justify-content: space-between;
    align-self: flex-end;

}

label{
    align-self: flex-start;
}
